schemas/GLB_Z2_schemat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/09/13/eD/DefinicjeTypy/" xmlns:knus="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2017/02/06/eD/KodyNaczelnikowUrzedowSkarbowych/" xmlns:kpit="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2025/11/01/eD/KodyPanstwITerytoriow/" xmlns:tns="http://crd.gov.pl/wzor/2025/11/07/13986/" xmlns:zz2="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2025/11/06/eD/GLBZZ2/" targetNamespace="http://crd.gov.pl/wzor/2025/11/07/13986/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2025/11/06/eD/GLBZZ2/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2025/11/06/eD/GLBZZ2/GLB_ZZ2(1)_Z_v1-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/09/13/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2022/09/13/eD/DefinicjeTypy/StrukturyDanych_v12-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2017/02/06/eD/KodyNaczelnikowUrzedowSkarbowych/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2017/02/06/eD/KodyNaczelnikowUrzedowSkarbowych/KodyNaczelnikowUrzedowSkarbowych_v4-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2025/11/01/eD/KodyPanstwITerytoriow/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2025/11/01/eD/KodyPanstwITerytoriow/KodyPanstwITerytoriow_v1-0E.xsd"/>
	<xsd:complexType name="TNaglowek">
		<xsd:annotation>
			<xsd:documentation>Nagłówek deklaracji</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="GLB-Z2 (1)"/>
							<xsd:attribute name="kodPodatku" type="xsd:string" use="required" fixed="GLB"/>
							<xsd:attribute name="rodzajZobowiazania" type="xsd:token" use="required" fixed="Z"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="1-0E"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CelZlozenia">
				<xsd:annotation>
					<xsd:documentation>Cel składania: 1 - złożenie zawiadomienia</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="1">
							<xsd:annotation>
								<xsd:documentation>Złożenie zawiadomienia</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OkresOd">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TLData">
							<xsd:attribute name="poz" type="xsd:string" use="required" fixed="P_3"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="OkresDo">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TLData">
							<xsd:attribute name="poz" type="xsd:string" use="required" fixed="P_4"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KodUrzedu">
				<xsd:annotation>
					<xsd:documentation>Miejsce składania - Naczelnik Kujawsko-Pomorskiego Urzędu Skarbowego w Bydgoszczy</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="knus:TKodNaczUS">
						<xsd:enumeration value="0471"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GLB-Z2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TLData">
		<xsd:annotation>
			<xsd:documentation>Ograniczenie pól daty</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="etd:TData">
			<xsd:minInclusive value="2024-01-01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TRodzajId">
		<xsd:annotation>
			<xsd:documentation>Rodzaj zagranicznego numeru identyfikacyjnego</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:documentation>numer identyfikacyjny TIN</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="2">
				<xsd:annotation>
					<xsd:documentation>numer ubezpieczeniowy</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:documentation>paszport</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="4">
				<xsd:annotation>
					<xsd:documentation>urzędowy dokument stwierdzający tożsamość</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="8">
				<xsd:annotation>
					<xsd:documentation>inny rodzaj identyfikacji podatkowej</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="9">
				<xsd:annotation>
					<xsd:documentation>inny dokument potwierdzający tożsamość</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Deklaracja">
		<xsd:annotation>
			<xsd:documentation>ZAWIADOMIENIE O DANYCH JEDNOSTKI SKŁADOWEJ SKŁADAJĄCEJ INFORMACJĘ O OPODATKOWANIU WYRÓWNAWCZYM ORAZ O JURYSDYKCJI, W KTÓREJ JEDNOSTKA JEST ZLOKALIZOWANA</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek zawiadomienia</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="tns:TNaglowek"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Podmiot1">
				<xsd:annotation>
						<xsd:documentation>Dane identyfikacyjne jednostki składającej zawiadomienie</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="etd:TPodmiotDowolnyBezAdresu3">
								<xsd:attribute name="rola" type="xsd:string" use="required" fixed="Jednostka składająca zawiadomienie"/>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PozycjeSzczegolowe">
					<xsd:annotation>
						<xsd:documentation>Dane jednostki składającej zawiadomienie, dane jednostki składowej, o której mowa w art. 133 ust. 4 ustawy, liczba składanych załączników GLB/ZZ2, dane kontaktowe</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<!--C. DANE JEDNOSTKI SKŁADAJĄCEJ ZAWIADOMIENIE-->
							<xsd:element name="P_7" type="etd:TZnakowy">
								<xsd:annotation>
									<xsd:documentation>Nazwa grupy</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="P_8" type="etd:TWybor1_2">
								<xsd:annotation>
									<xsd:documentation>Rodzaj jednostki składającej zawiadomienie: 1 - jednostka składowa grupy międzynarodowej zlokalizowana na terytorium RP, 2 - upoważniona jednostka składowa zlokalizowana na terytorium RP</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!--D. DANE JEDNOSTKI SKŁADOWEJ, O KTÓREJ MOWA W ART. 133 UST. 4 USTAWY-->
							<xsd:element name="P_D" maxOccurs="999">
								<xsd:annotation>
									<xsd:documentation>Dane jednostki składowej, o której mowa w art. 133 ust. 4 ustawy</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<!--D.1. RODZAJ JEDNOSTKI-->
										<xsd:element name="P_D9" type="etd:TWybor1_2">
											<xsd:annotation>
												<xsd:documentation>Rodzaj jednostki: 1 - jednostka dominująca najwyższego szczebla grupy międzynarodowej zlokalizowana w innej jurysdykcji niż RP, 2 - jednostka składowa grupy międzynarodowej zlokalizowana w innej jurysdykcji niż RP, wyznaczona przez jednostkę dominującą najwyższego szczebla tej grupy międzynarodowej</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<!--D.2. DANE IDENTYFIKACYJNE-->
										<xsd:element name="P_D10">
											<xsd:annotation>
												<xsd:documentation>Nazwa pełna</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:token">
													<xsd:minLength value="1"/>
													<xsd:maxLength value="240"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="P_D11" type="kpit:TKodPanstwa">
											<xsd:annotation>
												<xsd:documentation>Kod państwa lub terytorium wydania zagranicznego numeru identyfikacyjnego</xsd:documentation>
											</xsd:annotation>
											<!--Kod zgodny z ISO 3166-1 alpha-2.-->
										</xsd:element>
										<xsd:element name="P_D12" type="tns:TRodzajId">
											<xsd:annotation>
												<xsd:documentation>Rodzaj zagranicznego numeru identyfikacyjnego</xsd:documentation>
											</xsd:annotation>
											<!--Rodzaj zagranicznego numeru identyfikacyjnego przyjmuje następujące wartości: 1 - numer
identyfikacyjny TIN, 2 - ubezpieczeniowy, 3 - paszport, 4 - urzędowy dokument stwierdzający tożsamość, 8 - inny rodzaj identyfikacji podatkowej, 9 - inny dokument potwierdzający tożsamość
lub niewypełniony.-->
										</xsd:element>
										<xsd:element name="P_D13" type="etd:TNrIdentyfikacjiPodatkowej">
											<xsd:annotation>
												<xsd:documentation>Zagraniczny numer identyfikacyjny</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<!--D.3. ADRES SIEDZIBY-->
										<xsd:sequence>
											<xsd:annotation>
												<xsd:documentation>Adres siedziby</xsd:documentation>
											</xsd:annotation>
											<xsd:element name="P_D14" type="kpit:TKodPanstwa">
												<xsd:annotation>
													<xsd:documentation>Państwo lub terytorium</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_D15" type="etd:TMiejscowosc">
												<xsd:annotation>
													<xsd:documentation>Miejscowość</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_D16" type="etd:TKodPocztowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Kod pocztowy</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_D17" type="etd:TUlica" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Ulica</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_D18" type="etd:TNrBudynku" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Nr domu</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_D19" type="etd:TNrLokalu" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Nr lokalu</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_D20" type="etd:TZnakowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Inne dane adresowe</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
										<!--D.4. JURYSDYKCJA LOKALIZACJI JEDNOSTKI SKŁADOWEJ-->
											<xsd:element name="P_D21" type="kpit:TKodPanstwa">
												<xsd:annotation>
													<xsd:documentation>Kod jurysdykcji</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<!--E. LICZBA SKŁADANYCH ZAŁĄCZNIKÓW GLB/ZZ2-->
							<xsd:element name="P_22" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Liczba składanych załączników GLB/ZZ2</xsd:documentation>
								</xsd:annotation>
								<!--Załączniki należy złożyć w przypadku, gdy składającym zawiadomienie jest jednostka wyznaczona na podstawie art. 133 ust. 3 ustawy.-->
								<xsd:simpleType>
									<xsd:restriction base="etd:TNaturalny">
										<xsd:maxInclusive value="999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!--F. DANE KONTAKTOWE-->
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Dane kontaktowe</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_23" type="etd:TAdresEmail" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Adres e-mail</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_24" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Telefon</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TZnakowy">
											<xsd:maxLength value="16"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Zalaczniki" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element ref="zz2:Zalacznik_GLB_ZZ2" minOccurs="0" maxOccurs="999"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>